*.pem
server.log
.DS_Store
*.log
scripts/screenshot/*.png

# Dependencies
node_modules/

# Build output
dist/
dist-ssr/
*.local

# Playwright
test-results/
playwright-report/
playwright/.cache/

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.*.local
